<!DOCTYPE html>
<head>
	<link rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
  {{#if last }}
  <title> Hello {{first}} {{last}}!</title>
  {{else}}
  <title>Hello there, {{first}}!</title>
  	{{/if}}
</head>
<body>
	<div id="container">

	</div>