		</div> <!-- ends id="content" -->
	</div> <!-- ends id="wrap" -->

<div id="footer">
	<ul>
		<li> <a href="http://harleykwyn.com/about/"> About Me </a></li>
		<li> <a href="https://github.com/HarleyKwyn/shortly-hapi"> Github Repo </a></li>
	</ul>
</div>
{{!-- <script src="/static/js/footer.min.js"></script> --}}
