<nav>
	<ul>
		<li id="title">HarleyKwyn -> hrlykwyn.in</li>
		{{!-- {{#if}} --}}
		<li class="logout">
			<a href="/logout">logout</a>
		</li>
		{{!-- {{else}} --}}
		<li class="login">
      <a href='/signup'>Create Account</a>
    </li>
     	<a href='/login'>Login</a>
    </li>
    {{!-- {{/end}} --}}
  </ul>
</nav>